{% extends 'fitnessapp/base.html' %}

{% block title %}About Us - Fitness App{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4 text-gray-800">About Us</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-xl font-semibold mb-2 text-gray-800">Legal Name :</h2>
        <p class="text-gray-700 mb-2">Chirag Bisht</p>
        <p class="text-gray-700 mb-4">
            Welcome to Fitness App, your companion on your journey to a healthier lifestyle. We are passionate about helping individuals achieve their fitness goals through innovative technology and personalized guidance.
        </p>


        <h2 class="text-xl font-semibold mb-4 text-gray-800">Our Service</h2>
        <p class="text-gray-700 mb-2">First login to our website. When you are on dashboard, click on "Get Diet" button. You will be redirected to a page where you can fill your details and submit. After submission, you will be redirected to a complete payment and after successful payment you will be redirected to a page where you can see your personalized diet plan.</p>
    </div>
</div>
{% endblock %}